<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <a class="navbar-brand text-white" routerLink="#">Movie App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav " style="width: 100%;">
      <li class="nav-item active">
        <a class="nav-link active " routerLink="/movies">Movies</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active " routerLink="/movies/movie-create">Movie Create</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active " routerLink="/movies/template-form">Template Movie Create</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active " routerLink="/movies/reactive-form">Reactive Movie Create</a>
      </li>
    </ul>
    <!-- <ng-container *ngIf="isAuthenticated else unAuthorize">
      <ul class="navbar-nav ml-auto" style="margin-right: 20px;">
        <li class="nav-item active">
          <a class="nav-link active" routerLink="#">{{userModel.email}}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" (click)="logOut()">Logout</a>
        </li>
      </ul>
    </ng-container> -->
  </div>
</nav>

<ng-template #unAuthorize>
  <ul class="navbar-nav ml-auto" style="margin-right: 20px;">
    <li class="nav-item active">
      <a class="nav-link active" routerLink="/auth">Login</a>
    </li>
  </ul>
</ng-template>
